<!-- <div class="route-car"><img src="../../../assets/images/routecar.png"/></div> -->
<div id="your-advantage" class="page-container">
    <div class="container">
        <div class="section-header col-12">
            <span class="header-text">Airport Taxi</span>
        </div>
        <div class="Section-body col-12 row p-0 m-0">
            <div class="col-12">
                <h2>Taxi van Den Haag naar Schiphol nodig?</h2>
                <p>Comfortabel en veilig taxivervoer van Den haag naar Schiphol? Taxibooking Den Haag verzorgt voordelig uw vervoer naar Schiphol voor een vast tarief van slechts € 59. Privé taxi nodig of een busje voor meerdere personen? Dit is geen enkel probleem. Bij Taxibooking Den Haag is alles mogelijk!</p>
                <p class="sub-header">Taxi Den Haag naar Schiphol </p>
                <p>Taxibooking Den Haag is zeer ervaren in het vervoeren van en naar de luchthaven Schiphol Airport. Bij de Taxibooking Centrale kunt u gemakkelijk een taxi naar Schiphol reserveren via ons online boekingssysteem. Ons boekingssysteem is zeer veilig, snel en betrouwbaar. U heeft vervolgens de mogelijkheid om online of bij de chauffeur af te rekenen.
                    <br/>
                    Wij vervoeren passagiers van en naar Schiphol voor vaste tarieven. U kunt voor slechts €59 met de taxi van Den Haag naar Schiphol. Wij bieden kwalitatief hoogwaardig taxivervoer tegen zeer gunstige vaste tarieven.</p>
                <p class="sub-header">Waarom Taxibooking Den Haag kiezen?</p>
                <p>Voor een Taxi  van Den Haag naar Schiphol bent u aan het juiste adres. Bij ons vindt u alleen maar voordelen:</p>
                <p class="sub-header">24/7 Service</p>
                <p>Onze professionele chauffeur staan 24 uur per dag en 7 dagen in de week voor u klaar. Zij brengen u met de taxi naar Schiphol</p>
                <p class="sub-header">Online Reserveren</p>
                <p>U kunt altijd gemakkelijk en overal uw taxi naar Schiphol Reserveren. Reserveer via ons online boekingssysteem!</p>
               
            </div>
            <div class="col-12 row pt-5">
                <div class="col-12 col-sm-4">
                    <a (click)="MenuRoute()" [routerLink]="['/airport-booking']">
                        <div class="booking-section">
                            <img style="max-width: 100%;" src="../../../assets/images/b11.png"/>
                            <h1 class="mt-3">Brengen Naar the Airport</h1>
                        </div>
                    </a>
                   
                </div>
                <div class="col-12 col-sm-4">
                    <a (click)="MenuRoute()" [routerLink]="['/airport-booking']">
                        <div class="booking-section" >
                            <img style="max-width: 100%;" src="../../../assets/images/b22.png"/>
                            <h1 class="mt-3">Ophalen vanaf Airport</h1>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-sm-4">
                    <a (click)="MenuRoute()" [routerLink]="['/airport-booking']">
                        <div class="booking-section" >
                            <img style="max-width: 100%;" src="../../../assets/images/b33.png"/>
                            <h1 class="mt-3">Retour rit Airport</h1>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
