<!-- <div class="route-car"><img src="../../../assets/images/routecar.png"/></div> -->
<div id="testimonial" class="page-container">
    <div class="container">
        <div class="section-header col-12">
            <span class="header-text">Contact</span>
        </div>
        <div class="Section-body col-12">
            <div class="col-12 row">
                <div class="col-12 col-md-6">
                    <div class="mapouter"><div class="gmap_canvas"><iframe width="100%" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=Apeldoornselaan%20152&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.embedgooglemap.net/blog/nordvpn-coupon-code/"></a></div><style>.mapouter{position:relative;text-align:right;height:500px;width:100%;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:100%;}</style></div>
                    <p class="sub-header pt-4">Mail: <a href="mailto:info@taxibookingdenhaag.nl">info@taxibookingdenhaag.nl</a></p>
                    <p class="sub-header pt-2">Phone:<a href="tel:0706666555">070 6666 555</a></p>
                </div>
                <div class="col-12 col-md-6">
                    <div class="section-header col-12 pt-0">
                        <span class="header-text">Overige informatie aanvragen</span>
                    </div>
                    <app-contact-form></app-contact-form>
                </div>
            </div>
            
            

        </div>
    </div>
</div>
