<!-- <div class="route-car"><img src="../../../assets/images/routecar.png"/></div> -->
<div id="testimonial" class="page-container">
    <div class="container">
        <div class="section-header col-12">
            <span class="header-text">Fixed Rate</span>
        </div>
        <div class="Section-body col-12">
            <table>
                <tr>
                  <th>From</th>
                  <th>To</th>
                  <th>Car Type</th>
                  <th>Price</th>
                  <th>Book</th>
                </tr>
                <tr>
                  <td>Schipol</td>
                  <td>Den Haag</td>
                  <td>Taxi</td>
                  <td>$69</td>
                  <td><button [routerLink]="['/airport-booking']">Book Now</button></td>
                </tr>
                <tr>
                    <td>Schipol</td>
                    <td>Den Haag</td>
                    <td>Taxi</td>
                    <td>$69</td>
                    <td><button [routerLink]="['/airport-booking']">Book Now</button></td>
                </tr>
                <tr>
                    <td>Schipol</td>
                    <td>Den Haag</td>
                    <td>Taxi</td>
                    <td>$69</td>
                    <td><button [routerLink]="['/airport-booking']">Book Now</button></td>
                </tr>
                <tr>
                    <td>Schipol</td>
                    <td>Den Haag</td>
                    <td>Taxi</td>
                    <td>$69</td>
                    <td><button [routerLink]="['/airport-booking']">Book Now</button></td>
                </tr>
                <tr>
                    <td>Schipol</td>
                    <td>Den Haag</td>
                    <td>Taxi</td>
                    <td>$69</td>
                    <td><button [routerLink]="['/airport-booking']">Book Now</button></td>
                </tr>
                <tr>
                    <td>Schipol</td>
                    <td>Den Haag</td>
                    <td>Taxi</td>
                    <td>$69</td>
                    <td><button [routerLink]="['/airport-booking']">Book Now</button></td>
                </tr>
              </table>
        </div>
    </div>
</div>

